.container-fluid
  .row.image-row
    .col-lg-3.row-one
      .introduce
        p.title AMET CODIMENTUM
        p.mini Dolor
    .col-lg-3.row-two
      .introduce
        p.title LOREM CURSUS
        p.mini Ligula
    .col-lg-3.row-three
      .introduce
        p.title CONDIMENTUM ULTRICIES
        p.mini Consectetur
    .col-lg-3.row-four
      .introduce
        p.title RIDICULUS ORNARE
        p.mini Ullamcorper










