.image-row
  .row-one
    .introduce
      p.title AMET CODIMENTUM
      p.mini Dolor
  .row-two
    .introduce
      p.title LOREM CURSUS
      p.mini Ligula
  .row-three
    .introduce
      p.title CONDIMENTUM ULTRICIES
      p.mini Consectetur
  .row-four
    .introduce
      p.title RIDICULUS ORNARE
      p.mini Ullamcorper
