.footer {
  height            :   65px;
  background        :   $color-black;
  float             :   left;
  text-align        :   center;
  margin-top        :   30px;

  &__copyright  {
    font-family     :   $font-lato;
    font-size       :   11px;
    font-style      :   italic;
    color           :   $copyright-color;
    line-height     :   2;
    margin-top      :   21px;
  }
}
