.header {
  padding                 :   0;
  background-image        :   url('../webdesign/background.png');
  background-size         :   cover;
  background-repeat       :   no-repeat;

  .nav-bar {
    overflow              :   hidden;

  & .nav__item{
    width                 :   8%;
    font-family           :   $font-montserrat;
    font-size             :   13px;
    font-weight           :   bold;
  }

  & .circle-icon {
    width                 :   35%;
    font-size             :   24px;
    text-align            :   left;
    line-height           :   0vh;
  }

  & .search-icon {
    width                 :   36%;
    font-size             :   16.1px;
    text-align            :   right;
    line-height           :   2vh;
  }

  & a {
    color                 :   $color-white;
    float                 :   left;
    display               :   block;
    padding               :   58px 20px;
    font-size             :   17px;
    text-align            :   center;
    text-decoration       :   none;
  }

  & .icon {
    display               :   none;
  }

  @media screen and (max-width: 800px) {

    & a:not(.home) {
      display             :   none;
    }

    & a.home{
      float               :   left;
      padding             :   13px 16px;
      text-align          :   left;
    }

    & a.icon {
      width               :   90%;
      float               :   right;
      display             :   block;
      padding             :   13px 16px;
      text-align          :   right;
    }
  }

  @media screen and (max-width: 800px) {
    &.responsive {position: relative;}

    &.responsive .icon {
      top                 :   0;
      right               :   0;
      position            :   absolute;
      text-align          :   right;
    }

    &.responsive a {
      float               :   none;
      display             :   block;
      padding             :   10px;
      text-align          :   left;
    }
  }
}

  .horizontal{
    @include size(92%,1px);
    margin                :   auto;
    opacity               :   0.3;
    background-color      :   $color-white;
  }

  .header__title  {
    padding               :   130px 0px 63px 0px;

    &--main{
      color               :   $color-white;
      font-size           :   93px;
      font-family         :   $font-playfair-display;
    }

    &--describe{
      width               :   374px;
      color               :   $color-white;
      margin              :   auto;
      font-size           :   13.4px;
      font-family         :   $font-montserrat;
    }
  }

  .header__button{
    padding: 5px;

    &--line{
      @include size(300px,2px);
      background          :   $color-pink;
      opacity             :   0.5;
      margin              :   auto;
    }

    .really-button{
      border-radius       :   15.5px;
      width               :   111px;
      height              :   32px;
      font-family         :   $font-montserrat;
      font-size           :   12.4px;
      font-weight         :   bold;
      color               :   $color-white;
      background          :   $color-pink;
      top                 :   -17px;
      position            :   relative;
    }
  }

  .vertical__line{

    @include size(4px,142px);
    padding               :   38px 0px 0px 0px;
    margin                :   auto;

    &--left{
      @include size(1px,129px);
      background          :   $color-pink;
      float               :   left;
    }

    &--right{
      @include size(1px,129px);
      top                 :   13px;
      position            :   relative;
      background          :   $color-pink;
      float               :   right;
    }
  }

  .button__play{
    @include size(60px,142px);
    margin                :   auto;
    padding               :   62px 2px 25px 2px;

    &--circle{
      @include size(54px,55px);
      margin              :   auto;
      border              :   solid 1px $color-white;
      border-radius       :   50%;

      img{
        width             :   33px;
        height            :   36px;
        margin            :   9px 0px 0px 2px;
      }
    }
  }
}


