.content
  .content-one
    p.follow FOLLOW US
    a(href="#")
      p.list Twitter
    a(href="#")
      p.list Facebook
    a(href="#")
      p.list Linkedin
    a(href="#")
      p.list Pinterest
    a(href="#")
      p.list YouTube
  .content-two
  .content-three
  .content-four

