.content
  .content-one
    p.follow FOLLOW US
    a(href="#")
      p.list Twitter
    a(href="#")
      p.list Facebook
    a(href="#")
      p.list Linkedin
    a(href="#")
      p.list Pinterest
    a(href="#")
      p.list YouTube
  .content-two
    p.getto GET TO KNOW US
    a(href="#")
      p.list About
    a(href="#")
      p.list Policies
    a(href="#")
      p.list Careers
    a(href="#")
      p.list Press
    a(href="#")
      p.list Developer
  .content-three
    p.locations LOCATIONS
    a(href="#")
      p.list Detroit
    a(href="#")
      p.list London
    a(href="#")
      p.list Florida
    a(href="#")
      p.list Las Vegas
    a(href="#")
      p.list Califonia
  .content-four
    p.our OUR MISSION
      p.list.paragraph Fusce dapibus, tellus ac cursus commodo, tortor mauris
        |  condimentum nibh, ut fermentum massa justo sit amet
        | risus. Integer posuere erat a ante venenatis dapibus
        | posuere velit aliquet. Praesent commodo cursus magna,
        | vel scelerisque nisl consectetur et. Sed posuere consectetur

