.image-row{
  height: 100%;
  .col-lg-3{
    height: 100%;
  }
  .row-one,.row-two,.row-three,.row-four{
    .introduce{
      width: 100%;
      color: #ffffff;
      font-family: 'Montserrat';
      line-height: 1.67;
      margin: auto;
      margin-top: 230px;
      display: inline-block;
      .title{
        font-size: 12.1px;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-align: center;
      }
      .mini{
        font-size: 11.5px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
      }
    }
  }
.row-one{background: url('/../webdesign/img-row/row-one.png') 100% no-repeat;}
.row-two{background: url('/../webdesign/img-row/row-two.png') 100% no-repeat;}
.row-three{background: url('/../webdesign/img-row/row-three.png') 100% no-repeat;}
.row-four{background: url('/../webdesign/img-row/row-four.png') 100% no-repeat;}
}
