.container-fluid
  .row.image__row
    .col-md-3.image__row--col-one
      .sub
        p.sub__title AMET CODIMENTUM
        p.sub__describe Dolor
    .col-md-3.image__row--col-two
      .sub
        p.sub__title LOREM CURSUS
        p.sub__describe Ligula
    .col-md-3.image__row--col-three
      .sub
        p.sub__title CONDIMENTUM ULTRICIES
        p.sub__describe Consectetur
    .col-md-3.image__row--col-four
      .sub
        p.sub__title RIDICULUS ORNARE
        p.sub__describe Ullamcorper
.container.content
  .row
    .col-md-3.content__one
      .content__one--social
        p.follow FOLLOW US
        a(href="#")
          p.list Twitter
        a(href="#")
          p.list Facebook
        a(href="#")
          p.list Linkedin
        a(href="#")
          p.list Pinterest
        a(href="#")
          p.list YouTube
    .col-md-3.content__two
      .content__two--about-us
        p.getto GET TO KNOW US
        a(href="#")
          p.list About
        a(href="#")
          p.list Policies
        a(href="#")
          p.list Careers
        a(href="#")
          p.list Press
        a(href="#")
          p.list Developer
    .col-md-3.content__three
      .content__three--location
        p.locations LOCATIONS
        a(href="#")
          p.list Detroit
        a(href="#")
          p.list London
        a(href="#")
          p.list Florida
        a(href="#")
          p.list Las Vegas
        a(href="#")
          p.list Califonia
    .col-md-3.content__four
      .content__four--paragraph
        p.our OUR MISSION
          p.list.text Fusce dapibus, tellus ac cursus commodo, tortor mauris
            |  condimentum nibh, ut fermentum massa justo sit amet
            | risus. Integer posuere erat a ante venenatis dapibus
            | posuere velit aliquet. Praesent commodo cursus magna,
            | vel scelerisque nisl consectetur et. Sed posuere consectetur
