.background
  .header
    .circle
      a(href="#")
        i(class="fa fa-circle-o" aria-hidden="true")
    .nav-bar
      .nav-bar__box
        a(href="#")
          p.home HOME
        a(href="#")
          p.about ABOUT
        a(href="#")
          p.contact CONTACT
    .search
      a(href="#")
        i(class="fa fa-search" aria-hidden="true")
        .hamburger-icon
  .line
  .background__title
    p.title Web Design
  .background__introduce
    p.introduce Fusce dapibus, tellus ac cursus commodo, tortor mauris
      |  condimentum , ut fermentum massa justo sit amet
      | erat a ante venenatis dapibus posuere velit
  .background__button-really
    .line
    a(href="#")
      .button REALLY?
  .background__vertical-line
    .line-left
    .line-right
  .background__play-button
    a(href="#")
      .button
        .triangle
.container-fluid
  .row.image-row
    .col-md-3.row-one
      .introduce
        p.title AMET CODIMENTUM
        p.mini Dolor
    .col-md-3.row-two
      .introduce
        p.title LOREM CURSUS
        p.mini Ligula
    .col-md-3.row-three
      .introduce
        p.title CONDIMENTUM ULTRICIES
        p.mini Consectetur
    .col-md-3.row-four
      .introduce
        p.title RIDICULUS ORNARE
        p.mini Ullamcorper



