.background
  .header
    .circle
      a(href="#")
        i(class="fa fa-circle-o" aria-hidden="true")
    .nav-bar
      .nav-bar__box
        p.home HOME
        p.about ABOUT
        p.contact CONTACT
    .search
      a(href="#")
        i(class="fa fa-search" aria-hidden="true")
        .hamburger-icon
