.container-fluid.text-center.header
  .nav-bar.nav.justify-content-center#myTopnav
    a(href="#" class="circle-icon")
      i(class="fa fa-circle-o")
    a(href="#" class="nav__item home") Home
    a(href="#" class="nav__item") About
    a(href="#" class="nav__item") Contact
    a(href="#" class="search-icon")
      i(class="fa fa-search")
    a(href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()") &#9776;
  .horizontal
  .header__title
    p.text-center.header__title--main Web Design
    p.text-center.header__title--describe Fusce dapibus, tellus ac cursus commodo, tortor mauris
      |  condimentum , ut fermentum massa justo sit amet
      |  erat a ante venenatis dapibus posuere velit
  .header__button
    .header__button--line
    button(type="button" class="btn really-button ") REALLY?
  .vertical__line
    .vertical__line--left
    .vertical__line--right
  .button__play
    a(href="#")
      .button__play--circle
        img(src="https://png.icons8.com/ios/50/ffffff/play.png")




