.background
  .header
    .circle
      a(href="#")
        i(class="fa fa-circle-o" aria-hidden="true")
    .nav-bar
      .nav-bar__box
        a(href="#")
          p.home HOME
        a(href="#")
          p.about ABOUT
        a(href="#")
          p.contact CONTACT
    .search
      a(href="#")
        i(class="fa fa-search" aria-hidden="true")
        .hamburger-icon
  .line
  .background__title
    p.title Web Design
  .background__introduce
    p.introduce Fusce dapibus, tellus ac cursus commodo, tortor mauris
      |  condimentum , ut fermentum massa justo sit amet
      | erat a ante venenatis dapibus posuere velit
