doctype html
html(lang="en")
  head
    title #{document.title}
    meta(name="author" content=document.author)
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet",  href="bootstrap/dist/css/bootstrap.css")
    script(src="bootstrap/dist/js/bootstrap.js")
    script(src="scripts/script.js")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="styles/main.css")
  body
    //- Include header
    include header/header
    //- Include content
    !=content
    //- Include footer
    include footer/footer


