<<<<<<< HEAD
.container.content
  .row
    .col-md-3.content-one
      .social
        p.follow FOLLOW US
        a(href="#")
          p.list Twitter
        a(href="#")
          p.list Facebook
        a(href="#")
          p.list Linkedin
        a(href="#")
          p.list Pinterest
        a(href="#")
          p.list YouTube
    .col-md-3.content-two
      .about-us
        p.getto GET TO KNOW US
        a(href="#")
          p.list About
        a(href="#")
          p.list Policies
        a(href="#")
          p.list Careers
        a(href="#")
          p.list Press
        a(href="#")
          p.list Developer
    .col-md-3.content-three
      .location
        p.locations LOCATIONS
        a(href="#")
          p.list Detroit
        a(href="#")
          p.list London
        a(href="#")
          p.list Florida
        a(href="#")
          p.list Las Vegas
        a(href="#")
          p.list Califonia
    .col-md-3.content-four
      .para
        p.our OUR MISSION
          p.list.paragraph Fusce dapibus, tellus ac cursus commodo, tortor mauris
            |  condimentum nibh, ut fermentum massa justo sit amet
            | risus. Integer posuere erat a ante venenatis dapibus
            | posuere velit aliquet. Praesent commodo cursus magna,
            | vel scelerisque nisl consectetur et. Sed posuere consectetur
=======
>>>>>>> cbcd323ff88b404ad7bd14029687736198f28437
.container-fluid.footer
  p.copyright Copyright &#169; 2016 @samirally
