//font

$font-montserrat        :   'Montserrat';
$font-playfair-display  :   'Playfair Display';
$font-arial             :   Arial, sans-serif;

//color

$color-white            : #ffffff;
$color-black            : #000000;
$color-pink             : #da7074;
$copyright-color        : rgba(255,255,255,0.5);
$list-item-color        : #565656;
