//font
$font-montserrat : 'Montserrat';
$font-playfair-display: 'Playfair Display';
$font-arial: Arial, sans-serif;
//image-row
$color-white:#ffffff;
//footer
$color-black:#000000;
$copyright-color:rgba(255,255,255,0.5);

// Content-color
$list-item-color:#565656;
