//font

$font-path              :   "../fonts";
$font-montserrat        :   'Montserrat-Regular';
$font-playfair-display  :   'PlayfairDisplay-Regular';
$font-lato              :   'Lato-Regular';

//color

$color-white            : #ffffff;
$color-black            : #000000;
$color-pink             : #da7074;
$copyright-color        : rgba(255,255,255,0.5);
$list-item-color        : #565656;
